<div class="container">
<h1>Stupid Coaching</h1>
<h2>The coach says:</h2>
<p><%= @answer %></p>
<img src="https://imagesvc.meredithcorp.io/v3/mm/image?url=https%3A%2F%2Fewedit.files.wordpress.com%2F2015%2F09%2Fask-coach-taylor.jpg&w=400&c=sc&poi=face&q=85" alt="coach">
<br>
<button id="button_ask"><%= link_to "Go back and ask again", ask_path%></button>
</div>
